
<div id="faq" class="container_12">
	<div class="grid_12">
		<h1>FAQ</h1>
	</div>
	<div class="grid_12">
		<h3>Will Toaster Wires work on my scooter?</h3>
	</div>
	<div class="grid_8">
		<p>
			Most likely. Toaster Wires have been installed on multiple Honda Ruckus scooters with the stock Honda GET motor, or with GY6 or two-stroke engine swaps. The 20" length of the wire ensures plenty of length to reach from the coil to spark plug, even on scooters running stretch and fatty extensions. Originally developed for the vintage scooter scene, Toaster Wires are also a direct fit to the Genuine Stella and Vespas. It should work most vintage scooters, including Lambrettas. If you're unsure about an application, contact us and we'll try to assist. 
		</p>	
		<p>	
			We do not recommend Toaster Wires for fuel injected engines. Toaster Wires are non-supression spark plug wires and may cause electromagnetic interference. We've never had any reported problems, but please be aware.
		</p>
	</div>
	<div class="grid_12"> <h3>I live outside of the USA or Canada! Can I buy Toaster Wires?</h3></div>
	<div class="grid_6">
		<p>
			Absolutely! Contact us and we'll work something out. In the past we've shipped to Europe and Australia. It's not a problem.
		</p>
	</div>
	<div class="grid_12"> <h3>How do I install my Toaster Wire?</h3></div>
	<div class="grid_6">
		<p>
			Toaster Wires screw in to your scooter's coil. The old spark plug wire must be removed from the existing coil. Usually this involves the following steps:
			<ol>
				<li>Disconnect the spark plug boot from the spark plug.</li>
				<li>Slide the rubber boot covering where the existing wire meets the existing coil up the existing wire to expose the connection.</li>
				<li>Unscrew the plug wire from the coil. NOTE: Some coils have a small bit of glue holding the wire into the coil. This glue should pop loose easily with a bit of twisting. If the wire will not unscrew from the coil, do not continue twisting the wire. instead, use NGK Part# 8083 to splice the Toaster Wire to your existing wire.</li>
				<li>Remove the rubber boot from the stock wire and slide it over the Toaster Wire.</li>
				<li>Trim the Toaster Wire to length if needed with wire cutters.</li>
				<li>Screw the Toaster Wire into the coil.</li>
				<li>Slide the rubber cover over the connection between the Toaster Wire and the coil.</li>
				<li>Attach the Toaster Wire's boot to the spark plug. </li>
			</ol>
		</p>
	</div>
	<div class="grid_12"><h3>I would like a custom color. Can you hook me up?</h3></div>
	<div class="grid_6">
		<p>
			Custom colors are possible. If you want a truly one-of-a-kind product, we can create a custom braid and color scheme for your ride. Because of the one-off nature of a custom product, the price for a single custom Toaster Wire starts at $60. Please contact us for more information so we can work with you in creating something special.
		</p>
	</div>
	<div class="grid_12"><h3>Is there a warranty?</h3></div>
	<div class="grid_6">
		<p>
			Nope. Install Toaster Wires at your own risk. We aren't responsible for damage caused by Toaster Wires or their installation. 
		</p>
	</div>
	<div class="clear"></div>
</div>