
	<div class="container_12">
		<div class="grid_6">
			<div id="message">
				<h3>Ditch those stock plugs & wires! 
	Pick up a Toaster Wire today!
	</h3>
				<p>7mm Made in the USA cloth wrapped wire,
	NGK water-resistant spark plug cap. Pete's Toaster Wires are perfect for your Vespa, Stella, Ruckus, GY6, or moped!</p>
			</div>
			<div id="prices">
				<ul>
					<li><img src="images/star.png"/> $20.00 shipped in the USA!</li>
					<li><img src="images/leaf.png"/> $28.00 shipped to Canda, eh?</li>
				</ul>	
			</div>
		</div>

		<div class="grid_6">
			<div id="selectedProduct">
				<div id="productImage"><img src="images/green_wire.jpg"></div>
				<div class="prodcutInfo">
					<ul>
						<li><h3 id="productName">Select a wire below to see color choices.</h3></li>
						<li><a href="/store">Give me one now!</a></li>
					</ul>	
				</div>
			</div>
		</div>

		<div class="grid_12 divider">
			<img src="images/divider.png" />
			<p>Here's what we've got in stock, take your pick!</p>
		</div>
		<!-- If you need to disable a product due to it being out of stock simply add the class disabled after productThumb -->
		<div id="thumbnailGallery">
		<div class="grid_2">
			<img class="productThumb" src="images/thumb_blueBlack.jpg" data-fullportait="images/fullsize_blueBlack.jpg" data-producttext="Black w/ Blue Tracer">
		</div>
		<div class="grid_2">
			<img class="productThumb" src="images/thumb_blackGreen.jpg" data-fullportait="images/fullsize_greenBlack.jpg" data-producttext="Black w/ Green Tracer">
		</div>
		<div class="grid_2">
			<img class="productThumb disabled" src="images/thumb_greenYellow.jpg" data-fullportait="images/fullsize_greenYellow_cap.jpg" data-producttext="Green w/ Yellow Tracer">
		</div>
		<div class="grid_2">
			<img class="productThumb" src="images/thumb_orangeBlack.jpg" data-fullportait="images/fullsize_orangeBlack.jpg" data-producttext="Orange w/ Black Tracer">
		</div>
		<div class="grid_2">
			<img class="productThumb" src="images/thumb_redBlack.jpg" data-fullportait="images/fullsize_redBlack.jpg" data-producttext="Black w/ Red Tracer"> 
		</div>
		<div class="grid_2">
			<img class="productThumb" src="images/thumb_redBlackYellow.jpg" data-fullportait="images/fullsize_redBlackYellow.jpg" data-producttext="Red w/ Black & Yellow Tracer">
		</div>
		<div class="grid_2">
			<img class="productThumb" src="images/thumb_yellowBlack.jpg" data-fullportait="images/fullsize_yellowBlack.jpg" data-producttext="Yellow w/ Black Tracer">
		</div>
		</div>
		<div class="clear"></div>
	</div>
